<div data-toggle="popover" class="event-popover">
    When: {{mydate}}<br />Time: <input type="text" ng-model="popLabel"  class="texteventtime" id="eventstarttime"> &mdash;
   <input type="text" id="eventendtime2" ng-change="change()" data-ng-model="eventendtime" class="texteventtime"><br />
   What: <input type="text" id="eventtitle" value="" data-ng-model="eventtitle" class="texteventtitle"> <br />
  Where: <input type="text" data-ng-model="eventlocation" value="" id="eventlocation" class="texteventtitle"> <br />
  <span class="btn btn-default" ng-click="sendEvent()" id="btnSavePop">save</span></div>
